<br>
<footer>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <hr>
            &copy;2020 Barez, Garrett, Krepelka, Salas <br>
            <strong>Disclaimer:</strong> The information in this webpage is used for academic purposes only.
        </div>
    </div>
</footer>
</body>

</html>