<%- include('partials/header.ejs') %>


<div class="container" id="cart"></div>
<span class="TotalPrice"></span>

<div class="book">
    <span class="book-id">1</span>
    <button class="btn btn-primary btnAddToCart" id ="1"> ADD TO CART </button>
</div>
<div class="book">
    <span class="book-id">2</span>
    <button class="btn btn-primary btnAddToCart" id ="2"> ADD TO CART </button>
</div>
<div class="book">
    <span class="book-id">3</span>
    <button class="btn btn-primary btnAddToCart" id ="3"> ADD TO CART </button>
</div>

<%- include('partials/footer.ejs') %>